include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search(placeholder="Начните поиск в этой категории", type="text", isDefault=true)
	+b.search-block
		form
			input(type=type, placeholder=placeholder)
			button.btn.btn-primary
				if isDefault
					+icon("search")
					| Найти
				else
					+icon("chevron-right")

mixin page-head(t, btns, download, settings, caption, inputs=true, ...items)
	+b.page-head
		- let l = items.length
		.container
			if l > 0
				+breadcrumb('Главная',...items)
			if t
				h1= t

mixin components(data)
	+b.components
		if data.caption
			+e.caption-row.row
				.col-md
					+e.caption После оформления заказа с Вами свяжется менеджер для уточнения деталей отправки заказа и озвучит стоимость заказа.
				.col-md-auto
					+e.download(href='#')
						+img('img/svg/xls.svg')
						| Выгрузить в Excel
		block
		if data.settings
			+e.filter
				+e.filter-row.row
					.col-12.order-xxl-1
						+search
					if data.inputs
						.col-lg-auto.order-xxl-3
							+e.wrap
								+addblock
								span -
								+addblock
								span.d-none.d-md-block ₽
					.col-xxl-auto.order-xxl-2
						+e.choseCity(data-src="modal-city" data-fancybox="modal")
							+icon('pin')
							| Выбрать регион
					if data.reset
						.col-auto.ms-auto.order-last
							+e.reset(href='#')
								| Сбросить
								span 
		if data.btns
			+e.row.row
				.col-sm-auto
					+e.btn.btn.btn-outline-secondary.active(href='#') Все товары
				.col-sm-auto
					+e.btn.btn.btn-outline-secondary(href='#') 
						+icon('kindergarten')
						| Для детского сада
				.col-sm-auto
					+e.btn.btn.btn-outline-secondary(href='#') 
						+icon('book')
						| Для школы
				if data.download
					.col-auto.ms-md-auto.ms-lg-0.ms-xl-auto 
						+e.download(href='#')
							+img('img/svg/xls.svg')
							| Выгрузить в Excel

mixin gallery-item(data)
	+b.gallery-item
		+e.full-size(data-src=`img/${data.imgLg}` data-fancybox=`gallery-${data.fancybox}`)
			+icon('fullscreen')
		+e.img-wrap
			.img-wrap-center
				+img(`img/${data.img}`, 'bg')
		+e.content(href='#')
			.h4!= data.title
			+e.btn-wrap
				.btn.btn-primary.btn-base подробнее

mixin news-item(data)
	+b.news-item&attributes(attributes)
		+e.img-wrap(href='#')
			.img-wrap-center
				+img(`img/${data.img}`, 'bg')
		+e.content
			+e.breadcrumbs
				+e.item(href='#') Новости
				if data.oneMore
					+e.item!= data.oneMore
				+e.item.active!= data.item
			a.h4(href="#")!= data.title
			if data.text
				p!= data.text
			+e.date!= data.date
			+e.btn.btn.btn-outline-secondary.btn-base-secondary(href='#') Подробнее

mixin filter()
	+b.filter&attributes(attributes)
		mixin adress(text)
			+e.adress&attributes(attributes)(href="#") 
				span
				!= text
		+ddGroup()
			+ddGroupItem('Товары (опт)', '', 'active', 'true')
				+ddGroupItem('Мебель', '', 'active', 'true')
					+ddGroupItem('Ванная мебель', '', 'active', 'true')
						+adress('Вешалки для полотенц').active
						+adress('Унитазы, раковины, горшки')
						+adress('Шкафы для горшков')
					+adress('Вешалки')
					+ddGroupItem('Ванная мебель', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Кровати', '', '', 'true')
						+adress('Игровая мебель')
					+adress('Мебель для библиотеки')
					+ddGroupItem('Мебель для гардероба', '', '', 'true')
						+adress('Игровая мебель')
					+adress('Мебель для столовой')
					+ddGroupItem('Металлическая мебель', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Мягкая мебель', '', '', 'true')
						+adress('Игровая мебель')
					+adress('Наклейки для шкафчиков')
					+ddGroupItem('Скамьи, стулья', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Столы', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Текстиль', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Уличное оборудование', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Учебный кабинет', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Шкафы, стеллажи, тумбы', '', '', 'true')
						+adress('Игровая мебель')
					+adress('Школьные доски, мольберты')
						
				//- +ddGroupItem('Точка роста', 'active')
			+ddGroupItem('Услуги (опт)', '', '', 'true')
				+ddGroupItem('Мебель', '', 'active', 'true')
					+ddGroupItem('Ванная мебель', '', 'active', 'true')
						+adress('Вешалки для полотенц').active
						+adress('Унитазы, раковины, горшки')
						+adress('Шкафы для горшков')
					+adress('Вешалки')
					+ddGroupItem('Ванная мебель', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Кровати', '', '', 'true')
						+adress('Игровая мебель')
					+adress('Мебель для библиотеки')
					+ddGroupItem('Мебель для гардероба', '', '', 'true')
						+adress('Игровая мебель')
					+adress('Мебель для столовой')
					+ddGroupItem('Металлическая мебель', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Мягкая мебель', '', '', 'true')
						+adress('Игровая мебель')
					+adress('Наклейки для шкафчиков')
					+ddGroupItem('Скамьи, стулья', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Столы', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Текстиль', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Уличное оборудование', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Учебный кабинет', '', '', 'true')
						+adress('Игровая мебель')
					+ddGroupItem('Шкафы, стеллажи, тумбы', '', '', 'true')
						+adress('Игровая мебель')
					+adress('Школьные доски, мольберты')
			+e.link(href='#') Частным лицам (розница)

mixin filter2(isSecondVariant)
	+b.innerFilter&attributes(attributes)
		+ddGroup()
			if isSecondVariant
				+ddGroupItem('Развернуть фильтр', '', 'active', '', 'true')
					+e.link.active(href="#") ВСЕ МАТЕРИАЛЫ
					+e.link(href="#") дизайн, концепты и стройка
					+ddGroupItem('товары')
						+e.link(href="#") товары
						+e.link(href="#") услуги
						+e.link(href="#") значимые события образования
					+ddGroupItem('услуги')
						+e.link(href="#") товары
						+e.link(href="#") услуги
						+e.link(href="#") значимые события образования
					+ddGroupItem('значимые события образования')
						+e.link(href="#") товары
						+e.link(href="#") услуги
						+e.link(href="#") значимые события образования
					+e.link(href="#") люди, политика
					+e.link(href="#") экономика отрасли, школы и труда
					+e.link(href="#") про законодательство, санпин, 223 и 44 фз, фгос
			else
				+ddGroupItem('Развернуть фильтр', '', 'active', '', 'true')
					+e.link.active(href="#") все
					+e.link(href="#") Мебель
					+e.link(href="#") Точка роста
					+e.link(href="#") Приборы и&nbsp;наглядное оборудование
					+e.link(href="#") Технологическое оборудование
					+e.link(href="#") Спортивное оборудование и&nbsp;инвентарь
					+e.link(href="#") Электроника
					+e.link(href="#") Санитарная защита
					+e.link(href="#") Книги и канцелярские товары
					+e.link(href="#") Стенды
					+e.link(href="#") Хозяйские принадлежности и&nbsp;санитария
					+e.link(href="#") Доступная среда и&nbsp;поставщики для ОВЗ (ограниченные возможности здоровья)
					+e.link(href="#") Продукты питания
					+e.link(href="#") Игры, игрушки, куклы, костюмы


mixin message()
	+b.message.active Ваше сообщение отправлено! Поставщик свяжется с Вами в ближайшее время
		span

mixin tags()
	+b.tags-wrap&attributes(attributes)
		h5 Тэги
		+e.tags-row.row
			.col-auto
				+e.tag(href='#') Школа
			.col-auto
				+e.tag(href='#') Amazon
			.col-auto
				+e.tag(href='#') Выставка
			.col-auto
				+e.tag(href='#') Amazon
			.col-auto
				+e.tag(href='#') Выставка